[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
#mce-django-app = {editable = true,path = "../mce-django-app"}
#mce-lib-azure = {editable = true,path = "../mce-lib-azure"}
#mce-tasks-djq = {editable = true,path = "../mce-tasks-djq"}
#mce-django-server = {editable = true,path = "."}
pytest = "*"
pytest-cov = "*"
pytest-pep8 = "*"
pytest-django = "*"
pytest-timeout = "*"
django-dynamic-fixture = "*"
pytest-instafail = "*"
bandit = "*"
flake8 = "*"
coverage = "*"
responses = "*"
freezegun = "*"
pylint = "*"
ipython = "*"
autopep8 = "*"
black = "*"
wheel = "*"

[packages]
mce-django-app = {git = "https://github.com/multi-cloud-explorer/mce-django-app.git",ref = "master"}
mce-lib-azure = {git = "https://github.com/multi-cloud-explorer/mce-lib-azure.git",ref = "master"}
mce-tasks-djq = {git = "https://github.com/multi-cloud-explorer/mce-tasks-djq.git",ref = "master"}
mce-django-server = {editable = true,path = "."}
gevent = "*"
gevent-openssl = "*"
gunicorn = "*"
python-decouple = "*"
python-dotenv = "*"
requests = "*"
ujson = "*"
click = "*"
Pillow = "*"
Django = "*"
djangorestframework = "*"
dj-database-url = "*"
django-cors-headers = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-cryptography = "*"
djoser = "*"
drf-yasg = "*"
django-select2 = "*"
django-q = "*"
psutil = "*"
jsonpatch = "*"
django-redis-cache = "*"
hiredis = "*"
django-model-utils = "*"
psycopg2-binary = "*"
django-db-geventpool = "*"
psycogreen = "*"
azure-mgmt-resource = "*"
boto3 = "*"
google-cloud-resource-manager = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
